.header {
    width: 100%;
    height: 100vh;
    background-image: url(Protfolio-Bootstrap/img/header-background-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}